.portalCanvas {
    margin-bottom: -1500px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.bodyDiv {
	background-color:black;
	margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.background1 {
	background-image: url(tile.jpg);
}

.centerImage {
	display:block;
	margin-left: auto;
    margin-right: auto;
}